* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: inter, sans-serif;
}

header {
    background-color: #d73636;
    height: 60px;
    color: #fff;
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

nav > span {
    padding-left: 8px;
    font-weight: 500;
    font-size: 20px;
}